{% extends 'base.html' %}

{% block title %}Inicio{% endblock %}

{% block content %}
{% extends 'base.html' %}
 
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
  crossorigin="anonymous"></script>
<div class="collapse" id="navbarToggleExternalContent">
  <div class="bg-dark p-4">
    <h5 class="text-white h4">Collapsed content</h5>
    <span class="text-body-secondary">Toggleable via the navbar brand.</span>
  </div>
</div>
{% include 'header.html' %}
<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <a href="https://store.epicgames.com/es-ES/p/hades">
      <div class="carousel-item active" data-bs-interval="2500">
        <img src="https://cdn1.epicgames.com/min/offer/2560x1440-2560x1440-5e710b93049cbd2125cf0261dcfbf943.jpg"
          class="d-block w-100" alt="Hades game">
      </div>
    </a>
    <a href="https://www.celestegame.com/">
      <div class="carousel-item" data-bs-interval="2000">
        <img
          src="https://assets.nintendo.com/image/upload/c_fill,w_1200/q_auto:best/f_auto/dpr_2.0/ncom/es_LA/games/switch/c/celeste-switch/hero"
          class="d-block w-100" alt="...">
      </div>
    </a>
    <a href="https://www.ea.com/es-es/games/f1/f1-23">
      <div class="carousel-item" data-bs-interval="3000">
        <img src="https://e0.365dm.com/23/04/2048x1152/skysports-charles-leclerc-f1_6137610.jpg" class="d-block w-100"
          alt="...">
      </div>
    </a>
  </div>
  <button class="carousel-control-prev " type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div class="tarje">
  <div class="row">
    <div class="col-6">
      <a href="https://nintenduo.com/imagen-inedita-pelicula-fnaf-escena-perturbadora/" style="text-decoration:none">
        <div class="card mb-3 mt-3 tarjetas" style="max-width: 540px; ">
          <div class="row g-0">
            <div class="col-md-4">
              <img
                src="https://s.yimg.com/ny/api/res/1.2/ta3qdD_CwGPGM8PMy2xjcQ--/YXBwaWQ9aGlnaGxhbmRlcjt3PTY0MDtoPTc5OQ--/https://media.zenfs.com/en/comingsoon_net_477/8d690e0db7138879de88cda95a246d75"
                class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Imagen Inédita Pelicula Fnaf</h5>
                <p class="card-text">Tras un primer tráiler que ha desatado la locura entre los fans, Blumhouse
                  Productions y Universal ya han metido primera y comenzado la campaña promocional de Five Nights At
                  Freddy’s La Película.</p>
                <p class="card-text"><small class="text-body-secondary">Actualizado: 18/MAY/2023 10:30 p.m</small></p>
              </div>

            </div>

          </div>
        </div>
      </a>
      <a href="https://ew.com/creative-work/ready-player-one/" style="text-decoration:none">
        <div class="card mb-3 mt-3 tarjetas" style="max-width: 540px; ">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="https://pbs.twimg.com/media/EPUqWStX4Ak65M-.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Ready Player One en Entertainment Weekly</h5>
                <p class="card-text">Serie de noticias sobre la producción y estreno de la adaptación cinematográfica
                  de la obra de Ernest Cline</p>
                <p class="card-text"><small class="text-body-secondary">Actualizado: 15/JAN/2023 8:00 a.m</small></p>
              </div>

            </div>

          </div>
        </div>
      </a>
    </div>
    <div class="col-6">
      <a href="https://www.playstation.com/es-co/games/resident-evil-4-remake/" style="text-decoration:none">
        <div class="card mb-3 mt-3 tarjetas" style="max-width: 540px;">
          <div class="row g-0">
            <div class="col-md-4">
              <img
                src="https://d2r9epyceweg5n.cloudfront.net/stores/001/402/279/products/resident-evil-4-remake-202321717493566_11-3a637ed33f56706a6616772221991354-640-0.webp"
                class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Remake de Resident Evil 4 Disponible</h5>
                <p class="card-text">La última entrega de Capcom, la version remasterizada llega con reseñas
                  espectaculares. Disponible ahora en PS4 y PS5 </p>
                <p class="card-text"><small class="text-body-secondary">Actualizado: 24/MAR/2023 10:00 p.m</small></p>
              </div>
            </div>
          </div>
        </div>
        <a href="https://www.hobbyconsolas.com/noticias/filtrado-posible-set-lego-uncharted-basado-thiefs-end-figuras-nathan-sully-elena-995611"
          style="text-decoration:none">
          <div class="card mb-3 mt-3 tarjetas" style="max-width: 540px; ">
            <div class="row g-0">
              <div class="col-md-4">
                <img
                  src="https://preview.redd.it/borneo-uncharted-2-v0-wijexfpli51a1.jpg?width=640&crop=smart&auto=webp&s=3605f1df79eaa0763fffaf7bc0d1790ef734afa9"
                  class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">¿Posible Set Lego: Uncharted?</h5>
                  <p class="card-text">Recientes filtraciones revelan imágenes sobre un posible set de lego de la
                    aclamada saga de videojuegos de Naughty Dog</p>
                  <p class="card-text"><small class="text-body-secondary">Actualizado: 5/ABR/2023 2:09 p.m</small></p>
                </div>

              </div>

            </div>
          </div>
        </a>
    </div>

  </div>
  {% include 'footer.html' %}
</div>

{% endblock %}
